<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_URI} ^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
  RewriteRule .* - [L]

  RewriteCond %{REQUEST_URI} [^/]$
  RewriteRule (.+) index.php?p=$1 [QSA,L]

  RewriteCond %{HTTP:X-Forwarded-Proto} ^https$
  RewriteRule (.+)/+$ %{HTTP:X-Forwarded-Proto}://%{HTTP_HOST}/$1 [R=301,L]

  RewriteRule (.+)/+$ %{REQUEST_SCHEME}://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>
